/* //---->RESET */



* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

/* ------------------------------------------------------------------------------- */

/* //---->Gerais*/

.hideDisplay{
    display: none
}




/* //---->Navbar*/

.nav-c {
    height: 15vh;
    background-color: rgb(157, 157, 157);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em;


}

.mobile-menu {
    cursor: pointer;
    margin-right: 1em;
    font-size: 1.3em;
    /* margin-left: -1em; */
}


.mobile-menu div {
    width: 2em;
    height: 0.2em;
    background-color: rgba(235, 235, 235, 0.608);
    margin: 0.4em;
    border-radius: 2em;
    transition: 0.3s ease;

}


.mobile-menu:hover div {
    background-color: white;
    transition: 0.3s ease;
  }



.nav-c .logo-name{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-c h1{
    margin-left: .5em;
}


.nav-c .nav-item-links {
    display: flex;
    list-style: none;
    font-size: larger;

}


.nav-c .nav-item-links li {
    display: flex;
    padding: 1em;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    margin-right: 0.2em;
}



.nav-c .nav-item-links a{
    font-size: x-large;
    text-decoration: none;
    color: rgb(0, 0, 0);
}



.nav-item-links li:hover {
    border-color: aliceblue;

}



/* ------------------------------------------------------------------------------- */


/* //---->Main*/

.main-c {
    height: 75vh;
    background-color: brown;


}

/* ------------------------------------------------------------------------------- */

/* //---->Footer*/


.footer-c {
    height: 10vh;
    background-color: rgb(27, 16, 37);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-top: 3px solid rgba(212, 32, 179, 0.445);
    /* margin-top: 10px; */
}


.footer-c-links {
    display: flex;
    list-style: none;
    font-size: larger;
    list-style: none;
}


.footer-c a {
    margin-right: .5em;
    text-decoration: none;
    color: rgb(149, 149, 149);
    font-size: medium;
    transition: 0.4s;
}


.footer-c a:hover {
    color: rgb(242, 242, 242);
}


.footer-c h4{
    color: rgb(112, 112, 112);
    position: absolute;
    right: 0;
    margin-right: 1em;


}



/* //---->MobileMenu*/



